
.dashboard_window{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #EFF2F5;
}
.dashboard_navigation_container{
    
    height: 100vh;
}
.dashboard_navigation{
    height: 96vh;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 48%, rgba(54,54,54,1) 100%);
    border-radius: 10px;
    margin: 2vh;
    padding:0 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-between;
}
.admin-logo{
    padding: 10px 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Admin_function_name{
    color: #EFF2F5;
    font-weight: 600 !important;
    font-size: 16px !important;
}
.css-1coxqnp-JoySheet-root-JoyTabs-root{
background-color: transparent !important;
}
.css-1bog4bd-JoyTabList-root{
    background-color: transparent !important;
}
.tab{
   color: #fff !important;
   
   box-shadow: none !important;
   width: 100% !important;
   font-size: smaller !important;
}
.tab:hover{
    transition: 0.1s;
    background-color: #096BDE !important;
 }
.css-1bog4bd-JoyTabList-root{
    width: 100%;
}
.dashboard_content{
padding-top: 2vh;
padding-right: 2vh;
height: 100vh;
overflow: scroll;
}
.icon-edit{
color: #096BDE !important;
font-size: smaller !important;
}
.icon-delete{
color: #f27f75;
font-size: smaller !important;
}
.icon-download{
    color: #237150;
    font-size: smaller !important;
    }
.css-6hp17o-MuiList-root-MuiMenu-list{
display: flex !important;

flex-direction: column !important;
}
.header_admin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.create_new_btn{
    background-color: #fff !important;
    box-shadow: none !important;
}
.header_admin{
    margin-bottom: 2vh;
    border-radius: 10px !important;
}
.topics_table_list{
    /* border-radius: 10px !important; */
   background-color: transparent !important;
   box-shadow: none !important ;
}
.table_topic{
    background-color: #fff !important;
    border-radius: 15px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.table-row td{
    font-size: 12px ;
    padding: 3px;
 }
 .table-row th{
    font-size: 12px ;
    padding: 3px;
 }
 .ideas_list th{
     background-color: #096BDE !important;
     color: #fff !important
 }
 .item_dashboard{
     padding: 15px !important;
    border-radius: 30px !important;
 }
 .form_update{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px;
    background-color: #fff !important;
    border-radius: 15px;
 }
 .topic_preview{
    padding-left: 15px;
 }
 .table_idea_container{
     border-radius: 15px !important;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
 /* .admin_logout{
    position: absolute;
    display: inline-block;
    bottom: 0px ;
    transform: translateX(-50%);
    left: 50%;
 } */
 .logo_admin{
    height: 100px;
 }
 .admin_logout{
     display: flex;
     align-items: flex-end;
 }
 .menu_item{
     width: 100%;
     display: flex;
     gap: 15px;
 }
 .lock_icon{
    margin-left: auto;
}
.listcategory_container{
    padding-right: 10px;
    padding-top: 10px;
}
.category_container{
    display: flex;
    justify-content: space-between;
    /* background-color: #FFA500 !important; */
    background: linear-gradient(to right, #096BDE, #FFA500) !important;
    padding: 10px;
    align-items: center;
}
.category_name{
    align-items: center;
}
.createNewCategory{
    background-color: #EFF2F5;
    padding: 15px;
}