.list-item{
padding: 30px;
display: flex;
justify-content: center;
gap: 30px;
}
.time{
  display: flex;
  align-items: center;
}
.listidea{
  justify-content: center;
}

.idea:hover{
  box-shadow: rgba(6, 16, 91, 0.1) 0px 4px 12px;box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.avatar{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.react-container{
  display: flex;
  align-items: center;
}
.react{
  flex-direction: column;
}
.react div{
  margin: 10px;
}