.list-item{
padding: 30px;
display: flex;
justify-content: center;
gap: 30px;
}
.time{
  display: flex;
  align-items: center;
}
.listidea{
  justify-content: center;
}

.idea:hover{
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;}
.avatar{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.react-container{
  display: flex;
  align-items: center;
}
.react{
  flex-direction: column;
}
.react div{
  margin: 10px;
}