.navbar-container{
    height: 70px;
    background-color: aqua;

}
.navbar-item{
    display: flex;
    justify-content: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.item{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.logo{
    height: 70px;
    margin-bottom: 2px
}
.item-right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 30px;
}