.user_infor{
    display: flex;
    gap: 5px !important;
}
.user_name{
    font-weight: 600;
}
.user_email{
    font-style:italic;
    font-weight: lighter;
}
.active{
    color:green !important;
}
.inactive{
    color:red !important ;
}
.avatar_profile1{
    align-items: center;
}
.user_profile{
    padding: 10px;
}
.table_user{
    border-radius: 15px !important;
}
.create_user_btn{
    background-color:  #096BDE !important;
    color: aliceblue !important;
    padding: 3px;
    border-radius: 5px;
}
.form_create_user div{
    margin: 5px !important;
}
.MuiTextField-root{
     margin: 10px 0 !important;
}
.action_user_form{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.action_user_form button{
   background-color: #096BDE;
   padding: 7px;
   border-radius: 10px;
}
.cancle_btn{
    background-color: #f27f75 !important;
}
.titleform{
    display: flex;
    justify-content: center;
}
.filter_user .Mui-selected {
    background-color: transparent !important;
    color: #096BDE !important;
  }
.MuiTab-textColorPrimary{
    color: black !important;
    text-transform: capitalize !important;
}
.reportCreate{
    display: flex;
    justify-content: center;
   flex-direction: column;
   align-items: center;
}